body {
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase; 
    color: rgb(199, 172, 17);
    font-weight: normal;
    letter-spacing: 3px;
    font-size: 40px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

#icon:hover{
    opacity: 0.4;
}

#icon{
    width: 50px;
    color: c7ac11;
}