:root {
  --bg: white;
  --h1-txt-color: rgb(199, 172, 17);
  --brdr: black;
  --p-txt-color: black;
  --hr-color: rgba(199, 172, 17, 0.4);
  --icon-color: black;
}

.teal {
  --bg: rgb(16, 63, 69);
  --h1-txt-color: #bd8e34;
  --brdr: #e7d073;
  --p-txt-color: #fbf6e0;
  --hr-color: rgb(189, 142, 52);
  --icon-color: #ccc6b8;
}

.royal {
  --bg: #373650;
  --h1-txt-color: #c28e47;
  --brdr: #d8b88c;
  --
}

body {
  padding: 70px;
  text-align: center;
  position: relative;
  font-weight: lighter;
  font-family: "Merriweather", serif;
  background-color: var(--bg);
}

.header {
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

h1 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: var(--h1-txt-color);
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 40px;
}

#about-me {
  font-size: 14px;
}

p {
  font-family: "Merriweather", serif;
  color: var(--p-txt-color);
  font-weight: lighter;
  text-align: center;
}

.all-icons {
  margin-bottom: 5px;
  text-align: center;
  color: var(--icon-color);
}

.single-icon {
  display: inline-block;
  transition: 0.15s ease-in;
  margin: 5px 10px;
}

.single-icon:hover {
  opacity: 0.4;
  transform: translateY(-0.25em);
}

#footer p {
  font-weight: 700;
  color: var(--p-txt-color);
  font-size: 13px;
}

.button {
  background-color: grey;
  border: none;
  color: black;
  padding: 12px 24px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.25s ease;
}

.resume {
  background-color: var(--bg);
  color: var(--p-txt-color);
  border: 2px solid var(--brdr);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  transition: 0.25s ease-out;
}

.resume:hover {
  border-radius: 20px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(192, 192, 192, 0.1);
  border-bottom: 1px solid var(--hr-color);
  width: 300px;
}

.facebook {
  color: blue;
}

/* toggle-theme button */

input[type="checkbox"] {
  -webkit-appearance: none;

  width: 50px;
  height: 25px;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 2px gray;
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: rgba(189, 142, 52, 0.2);
  box-shadow: inset 0px 0px 0px 2px rgb(184, 137, 50);
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 100px;
  transform: scale(1.1);
  width: 25px;
  height: 25px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked::before {
  left: 25px;
  background-color: rgb(211, 158, 59);
}

.toggle-theme {
  justify-content: right;
}

a {
  color: var(--icon-color);
}